# =========================
# React / Node
# =========================
#frontend/node_modules/
frontend/build/

# =========================
# .NET
# =========================
api/bin/
api/obj/

# =========================
# Logs
# =========================
*.log

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment Files
# =========================
.env